<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Demo::top_level" 
            title="Demo" 
            module="Demo_Form" 
            sortOrder="9999" 
            resource="Magento_Backend::content"
        />
		<add id="Demo_Form::demo_form_form" 
            title="Form"
            module="Demo_Form" 
            sortOrder="9999" 
            resource="Magento_Backend::content" 
            parent="Demo::top_level" 
            action="demo_form/form/index"/>
	</menu>
</config>